/* Custom color for checked Bootstrap radio button */
/* .form-check-input:checked {
    background-color: #9d2235;
    border-color: #9d2235;
    accent-color: #9d2235;
} */
.custom-table input[type="radio"]:checked {
    background-color: #9d2235;       
    border-color: #9d2235;           
    box-shadow: 0 0 0 1px #9d2235;   
}



.custom-table thead th {
    color: white !important;
    background-color: #9d2235
}


.form-check-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(157, 34, 53, 0.25);
}

.heading-maroon {
    color: #9d2235;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Poppins', 'Segoe UI', sans-serif;
    text-align: center;
}

.signature-preview {
    font-size: 28px;
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    margin: 8px 0;
    transition: all 0.3s ease;
}
.signature-preview.selected {
    border-color: #9d2235;
    background-color: #f9f3f3;
}

.signature-font-1 { font-family: 'Great Vibes', cursive; }
.signature-font-2 { font-family: 'Pacifico', cursive; }
.signature-font-3 { font-family: 'Satisfy', cursive; }
